body{
    margin-top: 60px;
    font-family: 'Stint Ultra Condensed', cursive;
    background: url('1.jpg') no-repeat center center/cover ;
}
#main{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px rgb(31, 13, 13) solid;
    border-radius: 20px;
    box-shadow: 3px 3px rgb(62, 63, 63);
    width: 350px;
    height: 400px;
    margin-left: 485px;
    background: linear-gradient(to bottom, #6EBB9D 0, #5A87AF 100%);
}
h1{
    margin-bottom: 20px;
    font-size:50px;
    color:rgb(241, 251, 255);
}
#input{
    padding:20px;
    border:1px solid blue;
    border-radius: 10px;
    background-color: rgb(132, 245, 166);
    box-shadow:3px 3px rgb(255, 254, 254);
}
select{
    padding:7px;
    border:1px blue solid;
    border-radius: 5px;
    background-color: rgb(179, 218, 233);
    box-shadow: 3px 3px rgb(255, 255, 255);
}
select:hover{
    cursor:pointer;
    background-color: plum ;
    color: black;
    box-shadow: 0 0 5px rgb(255, 255, 255) , 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255);
    font-weight: bold;
}
button{
    padding:10px;
    border: 1px solid blue;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(255, 255, 255);
    background-color:rgb(111, 231, 219);
    font-weight: bold black;
}
button:hover{
    cursor:pointer;
    background-color: plum ;
    color: black;
    box-shadow: 0 0 5px rgb(255, 255, 255) , 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255);
    font-weight: bold;
}
p{
    font-weight: bolder;
    font-size: 30px;
    color: white;
}
span{
    font-weight: bolder;
    font-size: 30px;
    color: white;
}